#!/bin/bash
currentDir="$PWD"
cd "$HOME"
rm -rf wine-patched
git clone https://github.com/wine-compholio/wine-patched/

cd "$HOME/wine-patched"
git pull 
[ "$PATCH_DIR" = "" ] && exit 1
[ "$BUILDING_VERSION" = "" ] && exit 2
cd "$PATCH_DIR" || exit 3 

rm staging.patch

# url="https://github.com/wine-compholio/wine-patched/compare/wine-$BUILDING_VERSION...staging-$BUILDING_VERSION.patch"

# echo "Downloading $url"
# wget "$url" -O staging.patch || exit 4 
echo "Generating diff" 
cd "$HOME/wine-patched"
git diff wine-$BUILDING_VERSION staging-$BUILDING_VERSION --binary > $PATCH_DIR/staging.patch
cd "$PATCH_DIR" 

[ -e "staging.patch" ] && echo "Got it" || exit 5
cd "$currentDir"
exit 0
